package main

import (
	"testing"
)

func TestParseLine(t *testing.T) {
	type args struct {
		line string
	}
	tests := []struct {
		name string
		args args
		want string
	}{
		{
			name: "Test 0",
			args: args{
				line: "",
			},
			want: "",
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			got := parseLine(tt.args.line)
			if got != tt.want {
				t.Errorf("%s parseLine(%v) = %v, want %v", tt.name, tt.args.line, got, tt.want)
			}
		})
	}
}

func TestParseLines(t *testing.T) {
	want := []int{}

	got := parseLines(textGrid)
	for i := range want {
		if got[i] != want[i] {
			t.Errorf("parseLines() line %d = %v, want %v", i, got[i], want[i])
		}
	}
}

var textGrid = ``

func TestProcessLines(t *testing.T) {
	want := 0

	lines := parseLines(textGrid)
	got := processLines(lines)
	if got != want {
		t.Errorf("processLines() = %v, want %v", got, want)
	}
}
